{% extends '@EasyAdmin/page/content.html.twig' %}


{% block content_title %}Statistiques{% endblock %}
{# {% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %} #}

{% block main %}
    {# <table class="datagrid">
        <thead>
            <tr>
                <td>Some Column</td>
                <td>Another Column</td>
            </tr>
        </thead>
        <tbody>
            <p> Salut </p>
        </tbody>
    </table> #}

    <section class="d-flex flex-column align-items-center gap-5">
        <div class="d-flex gap-5">
            <div class="stat border rounded d-flex flex-column align-items-center justify-content-center" style="width: 200px; height: 200px">
                <div class="d-flex align-items-center justify-content-center  gap-2">
                    <p class="fs-1">{{ candidates|length -1 }}</p>
                    <i class="fa-solid fa-pen"></i>
                </div>
                <p class="fs-2">Candidates</p>
            </div>
            <div class="stat border rounded d-flex flex-column align-items-center justify-content-center" style="width: 200px; height: 200px">
                <div class="d-flex align-items-center justify-content-center  gap-2">
                    <p class="fs-1">{{ clients|length }}</p>
                    <i class="fa-solid fa-building"></i>
                </div>
                <p class="fs-2">Clients</p>
            </div>
        </div>
        <div class="d-flex gap-5">
            <div class="stat border rounded d-flex flex-column align-items-center justify-content-center" style="width: 200px; height: 200px">
                <div class="d-flex align-items-center justify-content-center  gap-2">
                    <p class="fs-1">{{ candidacies|length }}</p>
                    <i class="fa-solid fa-check-to-slot"></i>
                </div>
                <p class="fs-2">Candidacies</p>
            </div>
            <div class="stat border rounded d-flex flex-column align-items-center justify-content-center" style="width: 200px; height: 200px">
                <div class="d-flex align-items-center justify-content-center  gap-2">
                    <p class="fs-1">{{ offers|length }}</p>
                    <i class="fa-solid fa-file-contract"></i>
                </div>
                <p class="fs-2">Offers</p>
            </div>
        </div>
    </section>

{% endblock %}