<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <title>Luxury Services recruitment & services</title>

        {% block meta %} {% endblock %}
        
        {% block stylesheets %} {% endblock %}
    </head>

    <body id="top">

        {% include 'partials/header.html' %}

        {% block body %} {% endblock %}

        {% include 'partials/footer.html' %}

        {% block javascripts %} {% endblock %}
    </body>
</html>
